<h1>Hello world!</h1>

<%= link_to 'Articles listing', articles_v2s_path(@article)%> | 
<%= link_to 'About', root_path(@article)%> | 

<%# check in console all routes available as rails routes --expanded %>
<%= link_to 'Sign up!', signup_path%> 

<%= link_to 'Bloggers!', users_path%> 